body {
  padding-top: 100px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.container {
  flex-direction: column;
}
.inputs{
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
  box-sizing: border-box;
}
article {
  padding: 40px 15px;
  align-items: center;
}
.activity {
  padding: 40px 15px;
}
img{
  padding: 15px;
  box-sizing: content-box;
  width: 550px;
  height: 400px;
}
.img-responsive {
  width: 100% \9;
}
