body {
    font-family: 'Raleway', sans-serif !important;
}

.background-image {
    background-color: azure;
}

h1 {
    font-weight: 500;
    padding-bottom: 40px;
}

.lead {
    padding: 40px 15px;
    background-color: darkslategrey;
    color: white;
}

.starter-template {
    padding: 30px 15px;
    text-align: center;
}

button {
    margin: 10px 5px;
}

form {
    font-weight: 400;
    padding: 15px 10px;
}

.inputs {
    box-sizing: border-box;
    padding: 20px 20px;
    vertical-align: middle;
    border: 1px solid teal
  ;
}

article {
    padding: 40px 15px;
    align-items: center;
}

.activity {
    padding: 40px 15px;
    border-color: black;
    border-width: thin;
}

img {
    padding: 15px;
    box-sizing: content-box;
    width: 70%;
}

.img-responsive {
    width: 100% \9;
}

input:hover, select:hover{
	font-weight: bold;
	cursor: default !important;
}
